{% extends 'layout.html' %}

{% block title %}New Question{% endblock %}
{% block heading %}Ask a Question{% endblock %}

{% block main %}

<form method="POST" action="{{ url_for('questions.create') }}">
    <lable for="#question_title">Question Title</lable><br/>
    <input type="text" id="question_title" name="question_title"><br/>
    <lable for="#question">Question Body</lable><br/>
    <textarea id="question" name='question_body'></textarea><br/>
    <button>Submit Question</button>
</form>


{% endblock %}