<!DOCTYPE html>
<html>
    <head>
        <title>BibleQ - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="#">Nav Link 1</a>
                <a href="#">Nav Link 2</a>
                <a href="#">Nav Link 3</a>
            </nav>
            <h1>{% block heading %}{% endblock %}</h1>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            A simple footer
        </footer>
    </body>
</html>