<!DOCTYPE html>
<html>
    <head>
        <title>BibleQ - {% block title %}{% endblock %}</title>
        <style>
            .info {
                color: green;
            }
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('home.index') }}">Home</a>
                <a href="{{ url_for('questions.create') }}">Create Questions</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </nav>
            <h1>{% block heading %}{% endblock %}</h1>
        </header>
        <main>
            <section>
                {% for message in get_flashed_messages(with_categories=True) %}
                <div class="{{ message[0] }}">{{ message[1] }}</div>
                {% endfor %}
            </section>
            {% block main %}{% endblock %}
        </main>
        <footer>
            A simple footer
        </footer>
    </body>
</html>